@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	
}
body {
	background: linear-gradient(to bottom, rgba(215, 215, 213, 0.87),
				rgba(215, 212, 206, 0.703));
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: linear-gradient(to bottom, rgba(222, 165, 31, 0.868),
	rgba(63, 57, 31, 0.868));
	color: #fff;
	position: sticky;
	top: 0;
	
	z-index: 1000;
}
.u-name {
	font-size: 30px;
	padding-left: 17px;
	cursor: pointer;
}
.u-name b {
	color: #03171a;
}
.header div i {
	font-size: 25px;
	cursor: pointer;
	color: rgba(27, 20, 4, 0.831);
	padding-left: 13px;
	border-radius: 40%;
}
.header i:hover {
	color: #fff;
}
.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
.user-p img {
	width: 100px;
	border-radius: 50%;
	cursor: pointer;
}
.user-p h4 {
	color: #fff;
	padding: 5px 0;
	cursor: pointer;
}
.side-bar {
	width: 250px;
	background: rgba(188, 136, 17, 0.833);
	padding-left: 0;
	min-height: 100vh;
	transition: 500ms width;
}
hr {
	border: none;
	height: 4px;
	background: linear-gradient(to right, #ff0000, #ffff00, #1c1d1c);
}
.body {
	display: flex;
}

 
.side-bar ul {
	margin-top: 20px;
	list-style: none;
	padding-left: 0 !important;
}
.side-bar ul li {
	font-size: 16px;
	padding: 15px 0px;
	transition: .4s ;
	padding-left: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.side-bar ul li:hover {
	background: #fff;
}
.side-bar ul li a {
	font-weight: 600;
	text-decoration: none;
	color: rgba(27, 20, 4, 0.831);
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 23px;
}
/*#navbtn {
	display: inline-block;
	margin-left: 70px;
	font-size: 20px;
	transition: 500ms color;
}*/
.un{
	background: linear-gradient(rgba(222, 165, 31, 0.868),
				rgba(63, 57, 31, 0.868));
}
.deux {
	background: linear-gradient(rgba(222, 79, 31, 0.868),
			rgba(63, 57, 31, 0.868));
}
.trois {
	background: linear-gradient(rgba(82, 222, 31, 0.868),
			rgba(63, 57, 31, 0.868));
}
.quatre {
	background: linear-gradient(rgba(31, 178, 222, 0.868),
			rgba(63, 57, 31, 0.868));
}
.cinq {
	background: linear-gradient(rgba(120, 31, 222, 0.868),
			rgba(63, 57, 31, 0.868));
}
.dashboard {
	display: flex;
	width: 90%;
	flex-wrap: wrap;
}

.dashboard_box {
	text-align: center;
	background-color: #262931;
	width: 250px;
	padding: 30px 5px;
	margin: 15px;
	border-radius: 15px;
	cursor: pointer;
	text-decoration: none;
	transition: .4s;
}
.dashboard_box:hover{
	transform: scale(1.1);
}
.dashboard_box a{
	text-decoration: none;
}

.dashboard_box i {
	display: block;
	color: #fff;
	font-size: 30px;
	margin-bottom: 5px;
}

.dashboard_box span {
	
	color: #fff;
}